<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login Form</h2>
    {{>navbar}}<br>
    <form id="form2" method="POST" action="/login">
    <div class="form-group">
            <label>Loginid:<input type="text" class="form-control" name="loginid" value=""
            placeholder="Enter Login id" required></label>
            <br>
        </div>
        <div class="form-group">
            <label>Password:<input type="password" class="form-control" id="password"
            name="password" value="" placeholder="Enter password" required></label>
            <br>
        </div>
        <div>
            <button type="submit" id="submit" class="btn btn-default">Login</button>
        </div>
    </form>
</body>
</html>