<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Login</title>
</head>
<body>
    <div class="collapse navbar-collapse">
        <ul>
            <a class="nav-link text-white" href="/login">Login</a> |
            <a class="nav-link text-white" href="/register">Registration</a> |
            <a class="nav-link text-white" href="/data">Mongodb_data</a>
        </ul>
    </div>
</body>
</html>    