<nav class="navbar navbar-expand-lg navbar-cark fixed-top">
    <div class="container"></div>
        <div class="collapse navbar collapse" id="navbar SupportedContent">
           <ul>
                <a class="nav-link text-white" href="/login"> Login </a>|
                <a class="nav-link text-white" href="/register"> Registration </a>|
                <a class="nav-link text-white" href="/data"> Mongodb_Data </a>
                
           </ul>      
        </div>
    </div>
</nav>